{% extends "base.html" %} {% block title %}Web Annotation{%endblock%} {% block body %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Let's Annotate</h1>
            <!-- <h2 class="masthead-subheading mb-0"></h2> -->
            <p>This small scale browser tool is developed help in annotating data, that can be used in (re-)training of
                the Deep Neural Network models we have created.</p>
            <!-- <a href="#start" class="btn btn-primary btn-xl rounded-pill mt-5">About</a>
            &nbsp; -->

            <a href="/annotate" class="btn btn-primary btn-xl rounded-pill mt-5">Annotate</a>
        </div>
    </div>
</header>

{% endblock %}
